.container{
  display: flex;
  height:100vh;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

h1{
  margin:20px;
}

p{
  margin-bottom:30px;
  font-size: 1.2rem;
}

img{
  margin-bottom: 10px;
  width:60%;
  height: 450px;
}

.btn{
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #0284d0;
  border:none;
  border-radius: 5px;
}

.btn:hover{
  opacity:0.9;
}

